{% extends 'base.html.twig' %}

{% set colorInside = '#FFA500' %}
{% set colorOutside = '#1E90FF' %}

{% block body %}
<div class="row g-1 mt-2">
    {% for sensor in power %}
        {% include 'default/_dashboardItem.html.twig' with { 'colCount': 4, 'value': sensor.value, 'unit': sensor.unit, 'description' : sensor.name, 'type': 'power' } %}
    {% endfor %}

    {% for sensor in pv %}
        {% include 'default/_dashboardItem.html.twig' with { 'colCount': 6, 'value': sensor.value, 'unit': sensor.unit, 'description' : sensor.name, 'type': 'pv' } %}
    {% endfor %}
</div>

{% endblock %}
