{% extends 'base.html.twig' %}

{% block body %}
<div
    data-controller="chart"
    data-chart-unit-value="m³"
    data-chart-color-value="rgb(237,86,27)"
    data-chart-series-last-days-value="{{ lastDays|json_encode|e('html_attr') }}"
    data-chart-series-last-years-value="{{ lastYears|json_encode|e('html_attr') }}"
    data-chart-series-last-month-value="{{ lastMonths|json_encode|e('html_attr') }}"
    data-chart-series-last-month-year-before-value="{{ lastMonthsYearBefore|json_encode|e('html_attr') }}"
>
    <div class="row g-1 mt-2">
        <div class="chart-wrapper mb-3">
            <h2>Current <small>in m³</small></h2>
            <div id="chartCurrent" class="chart-container"></div>
        </div>

        <div class="chart-wrapper mb-3">
            <h2>Last Days <small>in m³</small></h2>
            <div data-chart-target="chartLastDays" class="chart-container"></div>
        </div>

        <div class="chart-wrapper mb-3">
            <h2>Last Months <small>in m³</small></h2>
            <div data-chart-target="chartLastMonths" class="chart-container"></div>
        </div>

        <div class="chart-wrapper mb-3">
            <h2>Last Years <small>in m³</small></h2>
            <div data-chart-target="chartLastYears" class="chart-container"></div>
        </div>
    </div>
</div>
{% endblock %}